<launch>
	<arg name="veh" default="default"/>
	<arg name="config" default="baseline" />
	<arg name="param_file_name" default="default" />

		<!-- decoder_node -->
	<remap from="decoder_node/compressed_image" to="camera_node/image/compressed"/>
	<remap from="decoder_node/image/raw" to="camera_node/image/raw"/>
	<include file="$(find pi_camera)/launch/decoder_node.launch">
		<arg name="veh" value="$(arg veh)"/>
		<!--<arg name="config" value="$(arg config)"/>-->
		<!--<arg name="param_file_name" value="$(arg param_file_name)"/>-->
	</include>

	<!-- Uncomment following for reading camera info from config file
	Use it if you need rectification image and don't have camera_info topic in bagfile -->

		<!-- Raw camera_info_reader node -->
<!--	<remap from="raw_cam_info_reader_node/camera_info" to="camera_node/raw_camera_info"/>-->
<!--    <remap from="raw_cam_info_reader_node/compressed_image" to="camera_node/image/raw"/>-->
<!--	<include file="$(find pi_camera)/launch/cam_info_reader_node.launch">-->
<!--		<arg name="veh" value="$(arg veh)"/>-->
<!--		<arg name="param_file_name" value="$(arg param_file_name)"/>-->
<!--		<arg name="node_name" value="raw_cam_info_reader_node" />-->
<!--		<arg name="image_type" value="raw" />-->
<!--	</include>-->

		<!-- Rectification -->
		<remap from="image_raw" to="camera_node/image/raw"/>
		<remap from="camera_info" to="camera_node/camera_info"/>
		<remap from="image_rect_color" to="camera_node/image/rect" />
		<include file="$(find pi_camera)/launch/image_proc_node.launch">
			<arg name="veh" value="$(arg veh)"/>
		</include>
</launch>