<launch>
  <arg name="veh" default="autobot03" />
  <arg name="bag_name" default="demo.bag"/>
  <arg name="start" default="0"/>
  <arg name="duration" default="1000"/>
  <!--<arg name="image_topic" default="/$(arg veh)/camera_node/image/compressed"/>-->
  <arg name="image_topic" default="/$(arg veh)/camera_node/image"/>
  <arg name="wheels_cmd_topic" default="/$(arg veh)/wheels_driver_node/wheels_cmd"/>

	<!--<include file="$(find pi_camera)/launch/undistort.launch">
		<arg name="veh" value="$(arg veh)"/>
	</include>-->

  <node pkg="rosbag" type="play" name="rosbag" required="true" args="--start=$(arg start) --duration=$(arg duration) $(arg bag_name)"/>
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=$(arg image_topic) raw out:=camera_out/image" />
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
	<!-- <remap from="image" to="$(arg image_topic)"/> -->
  <remap from="image" to="camera_out/image"/>
  </node>
<!--  <node name="wheels_cmd_extractor" pkg="wheels_cmd_extractor" type="wheels_cmd_extractor.py" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <param name="~wheels_cmd_topic" value="$(arg wheels_cmd_topic)"/>
  </node>
-->
</launch>
